//- need to add table otherwise jade does not add tr and td.
table
    tr
        td {{company_name}}
        td {{title}}
        td {{description}}
        td {{created}}
        td {{end_date}}
        td {{alert}}
        td {{created_by_name}}
        td {{updated_by_name}}
        td
            a.edit(class='btn btn-primary tiny_left_margin', title='Edit client detail', data-active="Edit", data-loading="Editing...", data-complete="Edited!", href='#') 
                i(class="icon-pencil")
            -if(authorized('view', 'admin', ''))
                a(class='btn btn-danger delete tiny_left_margin', title='Delete client detail', data-active="Delete", data-loading="Deleting...", data-complete="Deleted!", href='#') 
                    i(class="icon-trash")