//- need to add table otherwise jade does not add tr and td.
table
    tr
        td(colspan=5)
            form(class='form-inline', method='POST', action='#')
                div
                    div.control-group
                        input.title(id='title', name='title', class="required", type="text", placeholder='Title', value='{{title}}')
                    div.control-group
                        input.description(id='description', name='description', class="required", type="text", placeholder='Description', value='{{description}}')
                    div.control-group
                        input.end_date(id='end_date', name='end_date', class="required", type="text", placeholder='End ate', value='{{end_date}}')
                    div.control-group
                        .checkbox
                            label
                                input(id='alert', type='checkbox', value='')
                                |     Warn this detail.
                div
                    button.save(type='submit', class="btn btn-primary", data-active="Save", data-loading="Saving...", data-complete="Saved!") Save
                    a.cancel(class="left_margin btn btn-inverse", data-active="Cancel", data-loading="Canceling...", data-complete="Canceled!") Cancel