//- need to add table otherwise jade does not add tr and td.
table
    tr
        td {{company_name}}
        td {{first_name}}
        td {{last_name}}
        td {{first_contact}}
        td {{second_contact}}
        td {{nif}}
        td {{niss}}