//- need to add table otherwise jade does not add tr and td.
table
    tr
        td(colspan=5)
            form(class='form-inline', method='POST', action='#')
                div
                    div.control-group
                        input.credential_name(id='credential_name', name='credential_name', class="required", type="text", placeholder='Credential Name', value='{{credential_name}}')
                    div.control-group
                        input.credential_description(id='credential_description', name='credential_description', class="required", type="text", placeholder='Credential Description', value='{{credential_description}}')
                    div.control-group
                        input.credential_username(id='credential_username', name='credential_username', class="required", type="text", placeholder='Credential Username', value='{{credential_username}}')
                    div.control-group
                        input.credential_password(id='credential_password', name='credential_password', class="required", type="text", placeholder='Credential Password', value='{{credential_password}}')
                div
                    button.save(type='submit', class="btn btn-primary", data-active="Save", data-loading="Saving...", data-complete="Saved!") Save
                    a.cancel(class="left_margin btn btn-inverse", data-active="Cancel", data-loading="Canceling...", data-complete="Canceled!") Cancel