- if(public)
    extends ../public_layout
else
    extends ../layout
block content
    div.top_margin &nbsp;
    div.bottom_margin
        span(class="label label-success") Success!
        span &nbsp;Password changed sucessfully!