h3.bottom_margin General
    a.edit(class='btn btn-primary tiny_left_margin', data-active="Edit", data-loading="Editing...", data-complete="Edited!", href='#') 
        i(class="icon-pencil")
address
    span Name: 
        strong {{name}}
address
    span Email: 
        strong.email {{email}}
address
    span Site: 
        strong.url {{url}}
address
    span Address: 
        strong.address {{address}}
br
    