//- need to add table otherwise jade does not add tr and td.
table
    tr
        td(colspan=5)
            form(class='form-inline', method='POST', action='#')
                div
                    div.control-group
                        input.credencial_name(id='credencial_name', name='credencial_name', class="required", type="text", placeholder='Credencial Name', value='{{credencial_name}}')
                    div.control-group
                        input.credencial_description(id='credencial_description', name='credencial_description', class="required", type="text", placeholder='Credencial Description', value='{{credencial_description}}')
                    div.control-group
                        input.credencial_username(id='credencial_username', name='credencial_username', class="required", type="text", placeholder='Credencial Username', value='{{credencial_username}}')
                    div.control-group
                        input.credencial_password(id='credencial_password', name='credencial_password', class="required", type="text", placeholder='Credencial Password', value='{{credencial_password}}')
                div
                    button.save(type='submit', class="btn btn-primary", data-active="Save", data-loading="Saving...", data-complete="Saved!") Save
                    a.cancel(class="left_margin btn btn-inverse", data-active="Cancel", data-loading="Canceling...", data-complete="Canceled!") Cancel