div(class='help_alert_multipage help_tooltip help_area help_content', style='display: none !important')
    div.help_content
        div.help_title(class='top_margin')
            div.help_inner_title Alert
        div.help_description
            div.help_inner_description This page will refresh, please wait.
            div.help_buttons
                div.help_right
                    a.next_button(class='next_alert') Continue &raquo;
                div.help_clear