div.help_page_alert(style='display: none !important')
    .help_top_margin
        p
            span.help_confirm This is your current page,
        p
            span.help_confirm can not be deleted!
        br
        a.ok_page_alert(class='btn btn-inverse help_left_margin help_alert', title='Cancel Changes', style="float: right;") Ok
        span.help_left_margin &nbsp;
    hr
    div.clear