div.help_confirm(style='display: none !important')
    .help_top_margin
        p
            span.help_confirm Are you sure?
        br
        a.confirm_delete(class='btn btn-primary', title='Ok') Ok
        span &nbsp;
        a.cancel_delete(class='btn btn-inverse help_left_margin', title='Cancel Changes') Cancel
        span.help_left_margin &nbsp;
    hr
    div.clear