div(class='tooltip tooltip_border help_area large_help_content')
    div.help_description
        div.help_inner_description
            h1 Page Links
            form(class='top_margin area', method='POST', action='#')
                div.help_big_bottom_margin
                    div.help_inner_links
                hr
                .help_top_margin
                    div.help_right
                        div
                            a.cancel(class="left_margin btn btn-inverse help_left_margin", data-active="Close") Close
                    div.help_clear
                        
                        