div.help_area.help_round_icon
    div.number(style="display:none !important; color:white !important")
      span
        a {{number}}
    div.question_mark(style="display:none !important; color:white !important")
      span
        a ?
                        