div
    div.help_top_margin
        span {{name}} 
            a.play(class='tiny_left_margin')
                i.wsam-icon-play
            a.edit(class='tiny_left_margin', style='display:none !important')
                i.wsam-icon-edit
                       