div
    div.help_top_margin
        span {{name}} 
            a.play(class='tiny_left_margin')
                i.helppier-icon-play
            a.edit(class='tiny_left_margin', style='display:none !important')
                i.helppier-icon-edit
                       