div
    div.help_top_margin
        div.help_number(class='help_left')
            i.helppier-icon-resize-vertical
            span.help_left_margin {{name}}
            span.help_left_margin ({{type}})
        a.edit(class='help_left_margin')
            i.helppier-icon-edit
                       