div.help_button(class='help_fixed')
    div.help_left(style='font-weight:bold !important;')
        a.help_link Help
            span(style='font-size: 110% !important') !
    div.help_clear
    div.current_help(class='help_right')