div(class='help_error_info')
    div
        div.help_text(class='help_right_margin')
        div(style='position: relative !important;')
        i.helppier-icon-remove-sign(style='display none !important; position: absolute !important; right: 5px !important; top: 5px !important;')

        