//- page templates.   
div#show-page-template(style='display:none !important')
    include _b_page
div#edit-page-template(style='display:none !important')
    include _b_edit_page
div#pages-template(style='display:none !important')
   include _b_pages_list
div#current-links-template(style='display:none !important')
   include _b_edit_current_links
div#edit-link-template(style='display:none !important')
   include _b_edit_current_link