p Hi #{actor.name},

p There was recently a request to set #{actor.pending_email} as the main e-mail address in your Wsam account.

p If you requested this change, please click on the link bellow:
p #{server}/confirm/#{values.crypt} 
p (If clicking on the link doesn't work, try copying and pasting it into your browser.)

p If you didn't request this, please ignore this email.
p Your main e-mail address won't be changed until you access the link above.

p Thanks,
p Wsam.com team
    
    
