p Hi #{actor.name},
p You have been invited to join an account in Wsam.com.
p You can register by visiting 
    a(href= server + url_mount('/invitation/' + values.crypt)) Wsam
p Thanks,
p Wsam.com team