p Hi #{actor.name},

p Welcome to Wsam!

p To access your account please go to: 
    a(href= server + url_mount("")) Wsam

p If you forgot your password please go to 
    a(href= server + url_mount('/forgot_pass/')) Forgot Password

p Thanks,
p Wsam team