p Hi #{actor.name},

p Thanks for registering at Wsam.com!

p To complete your registration please go to 
    a(href = server + '/' + url_mount + '/invitation/' + value) Wsam Invitation

p Thanks,
p Wsam.com team