//- need to add table otherwise jade does not add tr and td.
table
    tr
        td {{credential_name}}
        td {{credential_description}}
        td {{credential_username}}
        td {{credential_password}}
        td {{created_by_name}}
        td {{updated_by_name}}
        td
            a.edit(class='btn btn-primary tiny_left_margin', title='Edit client', data-active="Edit", data-loading="Editing...", data-complete="Edited!", href='#') 
                i(class="icon-pencil")
            -if(authorized('view', 'admin', ''))
                a(class='btn btn-danger delete tiny_left_margin', title='Delete client', data-active="Delete", data-loading="Deleting...", data-complete="Deleted!", href='#') 
                    i(class="icon-trash")