div
div Options

div(class='top_margin left_margin')
    a(href=url_mount('/admin/users'))
        .stats_avatar
            span(class='table_cell', style='padding-top: 10px') Users
.clear 
div(class='top_margin left_margin')
    a(href=url_mount('/admin/companies'))
        .stats_avatar
            span(class='table_cell', style='padding-top: 10px') Companies
.clear 