#nucleus(class='.container_16 bottom_margin')
    .grid_3  &nbsp;
    div(class='grid_11 top_margin')
        div.right(class='tahoma_red_12pt', style='position: relative; right: 0px; top: 0px; text-align: right') 404 - Sorry. Cannot find the page you are looking for!
    div.clear
    .grid_3  &nbsp;
    div(class='grid_11')
        img(src=url_mount("/images/error_page.png"))