#nucleus(class='.container_16 bottom_margin')
    .grid_3  &nbsp;
    div(class='grid_11 top_margin')
        div.right(class='tahoma_red_12pt', style='position: relative; right: 0px; top: 0px; text-align: right') 500 - Oops. Something went wrong. Please try again.
    div.clear
    .grid_3  &nbsp;
    div(class='grid_11')
        img(src="images/error_page.png")