!!! 5
html(lang='en')
  head
  
    link(rel="shortcut icon", href=url_mount("/images/favicon.ico"), type="image/x-icon")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content='')
    meta(name="author", content='')
    !{renderStyleTags()}
    
    title #{title}
    
    !{renderScriptTags()}
    
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35434995-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
      div.container
        != body
      div.clear
  
