div.help_area [class^="wsam-icon-"], div.help_area [class*=" wsam-icon-"] {
    background-image: url("//widget.dev.host.port/wsam/img/glyphicons-halflings.png") !important;
}

div.help_area .wsam-icon-white {
    background-image: url("//widget.dev.host.port/wsam/img/glyphicons-halflings-white.png") !important;
}

a.wsam-JustifyLeft, a.wsam-JustifyCenter, a.wsam-JustifyRight,
a.wsam-InsertUnorderedList, a.wsam-InsertOrderedList, a.wsam-image, a.wsam-link {
  background: url('//widget.dev.host.port/wsam/img/yellow_texteditor.png') no-repeat !important;
}