extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h3.text-center.newuser-title= title
                    br
                    br
                    div.account-wall
                        form#formAddClient(name="adduser",method="post",action="/adduser")
                            input#inputCompanyName.form-control(type="text", placeholder="Company Name", name="Company Name",required, autofocus)
                            br
                            input#inputFirstName.form-control(type="text", placeholder="First Name", name="First Name",required)
                            br
                            input#inputLastName.form-control(type="text", placeholder="Last Name", name="Last Name",required)
                            br
                            input#inputFirstContact.form-control(type="text", placeholder="First Contact", name="First Contact",required)
                            br
                            input#inputSecondContact.form-control(type="text", placeholder="Second Contact", name="Second Contact")
                            br
                            button#btnSubmit.btn.btn-success.btn-lg(type='submit') Add Client
