extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h3.text-center.newuser-title= title
                    br
                    br
                    div.account-wall
                        form#formAddClient(name="addclient",method="post",action="/addclient")
                            input#inputCompanyName.form-control(type="text", placeholder="Company Name", name="company_name",required, autofocus)
                            br
                            input#inputFirstName.form-control(type="text", placeholder="First Name", name="first_name",required)
                            br
                            input#inputLastName.form-control(type="text", placeholder="Last Name", name="last_name",required)
                            br
                            input#inputFirstContact.form-control(type="text", placeholder="First Contact", name="first_contact",required)
                            br
                            input#inputSecondContact.form-control(type="text", placeholder="Second Contact", name="second_contact")
                            br
                            button#btnSubmit.btn.btn-success.btn-lg(type='submit') Add Client
