div.clear
div(id='flag_' + activity._id)
    - if(!activity["closed"])
        div Resolve conflict!
    div.tahoma_black_10pt(class='left_margin top_margin')
    - activity["flags"].forEach(function(flag){
        div Flagged by: #{actor_properties[flag.actor_id].short_name}
        div Reason: #{flag.reason}
    - })
    div(class='top_margin')
        != partial('admin/flags/_flag_commands', {locals: { object: activity, type: "time"} }) 
    //- flags in notifications.
    div.clear
    != partial('timeline/_activity', { object: activity, locals: { actor_properties: actor_properties, actor_permissions: [], hide: "", all_info: false} })
    div.large_dashed_break
    div.clear
    div(style='border-bottom: 1px solid red')
    div.clear
    