extends ./layout
block content
      .row(style='background: #00B7CC;padding-top: 40px;color: white')
        .col-md-1.vcenter
        .col-md-10.vcenter
          h1 Thanks!
          h3 Please restart process to start the application.
        .col-md-1.vcenter
      .row
        .col-md-12
      .row
        .col-md-12
      .row
        .col-md-12
      .row
        .col-md-12