span(class="pull-left") &nbsp;
div(class="btn-group pull-left")
      a(class="btn dropdown-toggle",data-toggle="dropdown",href="#")
        i.selected_security(class="icon-wrench") 
        span.caret
      ul(class="dropdown-menu")
          li
              a.private(href="#") 
                i.icon-eye-close
                span &nbsp;
                span Private
          li
              a.registered(href="#")
                i.icon-briefcase
                span &nbsp;
                span Registered
          li
              a.public(href="#")
                i.icon-globe
                span &nbsp;
                span Public