//- need to add table otherwise jade does not add tr and td.
table
    tr
        td {{name}}
        td {{description}}
        td
            a(class='btn btn-danger delete tiny_left_margin', data-active="Delete", data-loading="Deleting...", data-complete="Deleted!", href='#') 
                i(class="icon-trash")